.header_button{
    border:0 none; cursor:pointer; font-size: small; height:30px; width:150px; -webkit-transition:all 0.5s; -o-transition:all 0.5s; transition:all 0.5s; background-color: #00a775; color: #fff
}
.box-right{
    height: 100%;
    width: 100%;
    background: url('../images/trade-coins-2.png') no-repeat center center;
    background-size: cover;
}
.body-bg{
    background: url('../images/pattern1.png') repeat center center;
}

.header-bg{
    background: url('../images/header-bg.png') no-repeat center center;
}

.content-bg{
    background: url('../images/pic-1.jpg') repeat center center;
}
.carousel-caption{
    bottom: 70px;
    right: 10%;
    left: 0;
    width: 99%;
    background: rgba(72, 65, 42, 0.67);
    border-right: 20px solid #cf8f18;
    padding-bottom: 20px;
    padding-left: 40px;
}
.card-top {
    /* border-top: 4px solid rgba(0, 115, 170, 0.5); */
    box-shadow: 0 10px 25px -5px #ccc, 0 1px 5px 0 rgba(0, 0, 0, .1), 0 0 0 0 transparent;
}